body, html{
    background-color:#232323;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
}

.register-form{
    font-size: 16px;
   left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.regbutton{    
    height: 50px;
    width: 200px;
    background-color:steelblue;
    border-radius: 0px;
    font-size: 18px;
    color:white;
    border: none !important;
    margin-bottom: 5px;
}

.logbutton{    
    height: 50px;
    width: 200px;
    background-color:yellowgreen;
    border-radius: 0px;
    font-size: 18px;
    color:white;
    border: none !important;
    margin-bottom: 5px;
}

.register-form label{
    color: aliceblue;
}

.register-form input{
    margin-bottom: 5px;
    width: 570px;
    height: 40px;
    border-radius: 0px;
}

.error_message {
    color: red;
    max-width: 100%;
    margin-bottom: 5px;
}
.col-md-4.col-sm-4.col-lg-4{
    max-width: 100%;
}

#account_message{
    display: inline-block;
    margin-left: 40%;
}


