{% extends "index.html" %}

{% block title %}
    Color Game
{% endblock %}

{% block h1 %}
	RGB
{% endblock %}


{% block stripe %}
	<button id="reset">NEW COLORS</button>
	<span id="message"></span>
	<button id="easydBtn">EASY</button>
	<button id="hardBtn" class="selected">HARD</button>
{% endblock %}

{% block main %}

	<div id="container">
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
	</div>

{% endblock %}

