{% extends "index.html" %}

{% block title %}
    Color Game
{% endblock %}

{% block h1 %}
	RGB
{% endblock %}


{% block stripe %}
	<!--<p>{{ current_user.username }}</p>-->
	<button id="reset">NEW COLORS</button>
	<span id="message"></span>
	<button id="easydBtn">EASY</button>
	<button id="hardBtn" class="selected">HARD</button>	
	<a href="{{ url_for('user', username=current_user.username) }}"><button id="reset">HOME</button></a>	

{% endblock %}

{% block main %}

	<div id="container">
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
	</div>

{% endblock %}

